* {
  box-sizing: border-box;
}

html {
  font-family: "Arial", sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logos>p {
  margin-top: 4px;
  font-weight: bold;
}

a {
  color: black;
  text-decoration: none;
}

header {
  display: flex;
  position: sticky;
  top: 0px;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 5px 24px;
  background-color: rgb(255, 255, 255);
}

nav {
  display: flex;
  align-items: center;
  gap: 36px;
}

.nav-icons {
  display: flex;
  font-size: 11px;
  gap: 16px;
}

.nav-icons__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logos {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.grid-gallery__card {
  position: relative;
}

.grid-gallery__card h4 {
  margin-bottom: 7px;
  font-weight: bold;
}

.grid-gallery__card>img {
  width: 100%;
}

.grid-gallery__card > span {
  color: #454545;
  font-size: 11px;
}

.grid-gallery__card > h4 {
  margin-top: 28px;
}

.main-poster {
  height: 450px;
  background-image: url('images/shutterstock_1549382906.jpg');
  background-position: center;
  background-size: cover;
}

footer {
  box-sizing: border-box;
  width: 100%;
  padding: 17px 24px;
  height: 385px;
  background-color: #545454;
}

.grid-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  min-height: 350px;

}

.grid-gallery a {
  color: #0047D3;
}

.main-wrapper {
  padding: 90px 110px;
}

.main-wrapper>h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 118%;
  color: #000;
  margin-bottom: 16px;
}

.main-navigation__section {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.main-navigation__section span,
h4 {
  font-size: 16px;
}

.main-navigation__section h4 {
  font-weight: 600;
}

.main-navigation__wrapper {
  display: flex;
  justify-content: space-between;
  /* gap: 33px; */

}

.nav-bottom {
  background-color: #F5F5F5;
  padding: 46px 110px;
}

.nav-icons__wrapper > i {
  margin-bottom: 3px;
}


.bottom-nav-heading {
  align-items: center;
  display: flex;
  justify-content: end;
  margin-bottom: 9px;
}

.bottom-nav-heading h2 {
  margin-right: 4px;
}

.box-arrow {
  background-color: #E40422;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 36px;
  top: 0px;
  right: 0px;
  position: absolute;
}

.box-arrow-fix {
  background-color: #E40422;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;

}

.logo-wrapper {
  margin-bottom: 17px;
}


.logo-wrapper>img {
  height: 40px;
}

.footer-navigation {
  padding: 0px 90px;
  width: 100%;
  justify-content: space-between;
  color: #fff;
  display: flex;
  margin-bottom: 53px;
}

.footer-navigation span {
  margin-top: 8px;
}

.copyright {
  padding: 0px 90px;
  color: white;
}


@media (max-width: 950px) {
  nav > a {
    display: none;
  }
}
